fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
langchain
langchain-openai
langgraph
pydantic
python-dotenv
requests
pypdf
python-docx
chromadb
langchain-community
langchain-chroma
docx2txt
fastmcp
# Configurator dependencies
pymongo
pymysql
cx_oracle
pyodbc
pandas
structlog
prometheus-client
sentry-sdk
langfuse
